
.error :global{
	
	@import '../vars_mixins';
	
	background-color: $colors.primary-highlight;
	min-height: 90vh;
	color: $colors.white;
	
	section {
		padding: $space-medium 0px;
		+above($breakpoint-tablet) {
			padding: $space-large 0px;
		}
		
		h1, h2 {
			display: inline-block;
			background-color: alpha($colors.black, 0.1);
		}
		h3 {
			a {
				vertical-align: middle;
				background-color: $colors.secondary-highlight;
				color: $colors.white;
				padding: $space-medium;
			}
		}
	}
}