// traditional:
$easeOutQuint= cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
$easeInQuint= cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInOutQuint= cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */

$easeInExpo= cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo= cubic-bezier(0.190, 1.000, 0.220, 1.000); /* easeOutExpo */
$easeInOutExpo= cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */



// ------------------------------
// Times
// ------------------------------
$fastTime=150ms;
$defaultTime= 300ms;
$slowTime= 600ms;
$x-slowTime= 900ms;
$xx-slowTime= 1800ms;
$ultimate-slowTime = 3000ms;