$primary-black = #000;
$primary-gray = #ddd;
$primary-white = #FFF;

$primary-highlight = #fc0066;

$seafoam-green = #aacabe;
$tuscany-muted = #BE92A2;
$lavendar-muted = #D8E1FF;
$thistle-muted = #DBBADD;
