/*
 * All references to zindexes should be stored here.
 * A much more efficent manner to manage depth across a page.
 * However ideally you shouldn't have to create z-index varibles.
 */
 

 $z-under = -1
 $z-reset = 0
 $z-top =1000