/*
 * All references to zindexes should be stored here.
 * A much more efficent manner to manage depth across a page.
 * However ideally you shouldn't have to create z-index varibles.
 */
 

 $z-under = -1;
 
 $z-reset = 0;
 
 $z-base = 1;
 
 $z-above = 50;

 $z-section = 100;
  
 $z-top =500;

 $z-navigation = 900;
 
 $z-footer = 1000;