@import '../vars_mixins';

.footer :global{ 
	width: 100%;
	background: $colors.black;
	min-height: 200px;
	padding: 100px 0px;
	position: relative;
	color: $colors.white;
	z-index: $z-footer;

	a {
		color: $colors.white;
	}
	
	.row {
		padding: 0px 0px $space-large 0px;
		&.headline {
			padding: 0px 0px $space-x-small 0px;
		}
	}
}