.color-primary-orange {
  background-color: #ff5744;
}
.color-primary-blue {
  background-color: #202340;
}
.color-primary-white {
  background-color: #fff;
}
.color-secondary-blue {
  background-color: #dee0f0;
}
.color-secondary-purple {
  background-color: #5b6091;
}
.color-secondary-pink {
  background-color: #cea9c0;
}
.color-secondary-green {
  background-color: #98c8b7;
}
.color-secondary-green-light {
  background-color: #c7e4da;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
}
h1 {
  font-size: 4rem;
}
@media only screen and (min-width: 767px) {
  h1 {
    font-size: 4.5rem;
  }
}
@media only screen and (min-width: 1180px) {
  h1 {
    font-size: 6rem;
  }
}
h2 {
  font-size: 3.5rem;
}
@media only screen and (min-width: 767px) {
  h2 {
    font-size: 4rem;
  }
}
@media only screen and (min-width: 1180px) {
  h2 {
    font-size: 4.5rem;
  }
}
h3 {
  font-size: 3rem;
}
@media only screen and (min-width: 767px) {
  h3 {
    font-size: 3.5rem;
  }
}
@media only screen and (min-width: 1180px) {
  h3 {
    font-size: 4rem;
  }
}
h4 {
  font-size: 2.25rem;
}
@media only screen and (min-width: 767px) {
  h4 {
    font-size: 2.25rem;
  }
}
@media only screen and (min-width: 1180px) {
  h4 {
    font-size: 3rem;
  }
}
h5 {
  font-size: 1.5rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 767px) {
  h5 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1180px) {
  h5 {
    font-size: 2.25rem;
  }
}
h6 {
  font-size: 1.125rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 767px) {
  h6 {
    font-size: 1.5rem;
  }
}
@media only screen and (min-width: 1180px) {
  h6 {
    font-size: 1.5rem;
  }
}
h6 {
  font-size: 1rem;
  text-transform: uppercase;
}
@media only screen and (min-width: 767px) {
  h6 {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1180px) {
  h6 {
    font-size: 1.125rem;
  }
}
.col.col-offset {
  display: none;
}
@media only screen and (min-width: 767px) {
  .col.col-offset {
    display: inline-block;
  }
}
.row {
  max-width: 1400px;
  margin: auto;
  padding: 10px 0px 0px 0px;
}
@supports (grid-area: auto) {
  .row {
    display: grid;
    grid-auto-rows: auto;
    grid-row-gap: 10px;
    grid-column-gap: 16px;
  }
@media only screen and (min-width: 767px) {
    .row {
      grid-column-gap: 32px;
    }
}
@media only screen and (min-width: 1180px) {
    .row {
      grid-column-gap: 32px;
    }
}
}
@supports (grid-area: auto) {
  .row {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  }
}
@supports (grid-area: auto) {
  .row {
    grid-template-columns: repeat(2, 1fr);
  }
  .row .len-1 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
  .row .len-2 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
  .row .len-3 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
  .row .len-4 {
    grid-column-end: span 1;
    grid-row-end: span 1;
  }
  .row .len-5 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-6 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-7 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-8 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-9 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-10 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-11 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
  .row .len-12 {
    grid-column-end: span 2;
    grid-row-end: span 1;
  }
}
@media only screen and (min-width: 767px) {
  @supports (grid-area: auto) {
    .row {
      grid-template-columns: repeat(12, 1fr);
    }
    .row .len-1 {
      grid-column-end: span 1;
      grid-row-end: span 1;
    }
    .row .len-2 {
      grid-column-end: span 2;
      grid-row-end: span 1;
    }
    .row .len-3 {
      grid-column-end: span 3;
      grid-row-end: span 1;
    }
    .row .len-4 {
      grid-column-end: span 4;
      grid-row-end: span 1;
    }
    .row .len-5 {
      grid-column-end: span 5;
      grid-row-end: span 1;
    }
    .row .len-6 {
      grid-column-end: span 6;
      grid-row-end: span 1;
    }
    .row .len-7 {
      grid-column-end: span 7;
      grid-row-end: span 1;
    }
    .row .len-8 {
      grid-column-end: span 8;
      grid-row-end: span 1;
    }
    .row .len-9 {
      grid-column-end: span 9;
      grid-row-end: span 1;
    }
    .row .len-10 {
      grid-column-end: span 10;
      grid-row-end: span 1;
    }
    .row .len-11 {
      grid-column-end: span 11;
      grid-row-end: span 1;
    }
    .row .len-12 {
      grid-column-end: span 12;
      grid-row-end: span 1;
    }
  }
}

.page-title span {
  display: none;
  margin: 0px 20px;
  font-size: 1.4rem;
  vertical-align: middle;
}
@media only screen and (max-width: 767px) {
  .page-title span.breakpoint-mobile {
    display: inline-block;
  }
}
@media only screen and (min-width: 767px) and (max-width: 1180px) {
  .page-title span.breakpoint-tablet {
    display: inline-block;
  }
}
@media only screen and (min-width: 1180px) {
  .page-title span.breakpoint-desktop {
    display: inline-block;
  }
}
.row.demo {
  grid-auto-rows: 100px;
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
.row.demo .col {
  background: #eee;
}
.row.demo .col.col-offset {
  background: #f9f9f9;
}
.color-grid {
  grid-auto-rows: 100px;
}
.color-grid .col {
  border: 1px solid #eee;
}


/*# sourceMappingURL=styles.chunk.css.map*/