
$primary-orange = #FF5744
$primary-blue = #202340
$primary-white = #FFF

$secondary-blue = #DEE0F0
$secondary-purple = #5B6091
$secondary-pink = #CEA9C0
$secondary-green = #98C8B7
$secondary-green-light = #C7E4DA

.color-primary-orange {
	background-color: $primary-orange;
}

.color-primary-blue {
	background-color: $primary-blue;
}

.color-primary-white {
	background-color: $primary-white;
}

.color-secondary-blue {
	background-color: $secondary-blue;
}

.color-secondary-purple {
	background-color: $secondary-purple;
}

.color-secondary-pink {
	background-color: $secondary-pink;
}
	
.color-secondary-green {
	background-color: $secondary-green;
}

.color-secondary-green-light {
	background-color: $secondary-green-light;
}