:global {

	@import './vars_mixins';
	@import './base/fonts';
	@import './base/grid';

	body, * {
		box-sizing: border-box;
		margin: 0px;
		padding: 0px;
		border: 0px;
	}

	ul, ul li {
		list-style: none;
	}

	.appwrapper {
		transition: opacity $defaultTime $easeInOutQuint; 
		// opacity: 0;
		
		&.loading {
			opacity: 0
			transition-timing-function: $easeOutQuint;
		}

		&.loaded  {
	 		opacity: 1;
	 		transition-timing-function: $easeInQuint;
	 	}
	}	 
}